body {
  margin: 40px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  background-color: rgba(154, 189, 190, 0.521);
  color: black;
}
.header {
  text-align: center;
  margin-bottom: 15px;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}

.link-me {
  color: cadetblue;
}

.link-hobby {
  color: cadetblue;
}
.link-frontend {
  color: cadetblue;
}
main {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.left-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  align-content: center;
}

.foto {
  width: 400px;
  border-width: thin;
  border-style: solid;
  border-color: rgb(136, 125, 125);
}

h2 {
  text-align: left;
  border-left: 7px solid rgb(75, 68, 64);
  margin-top: 20px;
  margin-left: 10px;
}
.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer {
  color: cadetblue;
}
footer {
  margin-top: 400px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
